.itemContainer{
    display: inline-flex;
    overflow: hidden;
}
.contentLayout{
    margin: 0 4px 32px 4px;
    float: left;
}
.imgLayout{
    height: 162px;
    width: 162px;
    text-align: left;
}

.item-container{
    position: relative;
    width: 162px;
    height: 150px;
    margin: 0;
    
    float: left;
}

.productZone{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-area{
    position: absolute;
    height :250px;
    border: 1px solid;
    overflow: hidden;
}
.show-slide{
    display: flex;
    height: 100%;
    overflow: hidden;
}

.contentText{
    border: 1px solid;
    margin: 0;
    width: 148px;
}
.contentName{
    border: 1px solid;
    margin: 0;
    width: 100%;
    font-size: 5px;
}
.contentDescrip{
    border: 1px solid;
    margin: 0;
    font-size: 5px;
    width: 100%;

}

.newListDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

.newListText{
    border: 1px solid;
    text-align: left;
    margin-top: 6px;
}




