
.screen-layout{
    position: absolute;
    width: 100%;
}

.screen-main{
    position: relative;
    text-align: center;
    border: 1px solid;
    display: flex;
    justify-content: center;
}
.main-center {
    width: 1180px;
}

